<%= form_with(model: coupon, local: true) do |form| %>
  <% if coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% coupon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field(:title) %>
  </div>

  <div class="field">
    <%= form.label :expiring_date %>
    <%= form.datetime_select :expiring_date %>
  </div>

  <div class="field">
    <%= form.label :discount_value %>
    <%= form.number_field :discount_value %>
  </div>

  <div class="field">
    <%= form.label :discount_Type %>
    <%= form.select :discount_Type, options_for_select(["Fixed", "Percentage"]), :class => 'genForm_dropBox' %>


    </div>

  <div class="field">
    <%= form.label :usage_num %>
    <%= form.number_field :usage_num %>
  </div>
  <div class="field">
    <%= form.label :expiring_type %>
    <%= form.select :expiring_type, options_for_select(["Usage_num", "Expiring_date","Both"]), :class => 'genForm_dropBox' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
