<p id="notice"><%= notice %></p>

<p>
  <strong>Expiring_date:</strong>
  <%= @coupon.expiring_date %>
</p>

<p>
  <strong>Discount Value:</strong>
  <%= @coupon.discount_value %>
</p>

<p>
  <strong>Discount Type:</strong>
  <%= @coupon.discount_Type %>
</p>

<p>
  <strong>Usage Num:</strong>
  <%= @coupon.usage_num %>
</p>

<p>
  <strong>Expiring Type:</strong>
  <%= @coupon.expiring_type %>
</p>

<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
