<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user.id %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @order.total_price %>
</p>


<p>
  <strong>Actual price:</strong>
  <%= @order.actual_price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<%= @order.order_products %> |                <%# loop to render all order_item_in_product %>


<%= link_to 'Show order details', order_products_path(@order.id) %> |
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
<%= @ii %>
<%= @order_id %>


