
<div class="container" style="margin-top: 25px; margin: auto;">
<p id="notice"><%= notice %></p>

<h1>Products</h1>
<p>search with title or description:<p>
<%= form_for "",url: products_path ,role:"search", method: :get do%>
<%= text_field_tag :search ,@search_term, placeholder: "search..." %>
<%= form_tag products_path ,:method => 'get' do%>
<%= collection_select :product, :brand_id, @brand, :id,:name, prompt: true %>
<%= collection_select :product, :user_id, @user, :id,:name, prompt: true %>

  <%= collection_select :product, :category_id, @category, :id,:name, prompt: true %>
  <span>Price from </span> <%= number_field 'fromprice','price' %>
  <span>Price to </span><%= number_field 'toprice','tprice' %>
  <%= submit_tag "select product" %>
<% end %> 
<% end %>

<%# =========================================================================== %>
<%# ============================================================================= %>

<div class="row products_row" style="margin-top: 10px; margin: auto;">

  <% if (@products) %>
    <% if (@products.empty?) %>
      <p>No product found.</p>
      <%= link_to 'New Product', new_product_path %>
  <% else %>
      <% @products.each do |product| %>
					<!-- Product -->
					<div class="card" style="width: 18rem; margin-top: 45px; margin-right: 3%;">
            <% if product.image.attached? %>
            <%= image_tag product.image  , class:"card-img-top" , style:"height:90%"%>
            <% end %>
            <div class="card-body" style="height:40%" >
              <p class="card-title" style="float:left"><%= product.title %></p>
              <p class="card-text" style="float:right;margin-left:10%"> $ <%= product.price %></p>
              <div style="clear:both"></div>
              <%= link_to 'Add To Cart', product , class:"btn btn-primary" %>
               <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-danger", style:"margin-left:20%;" %>
              
            </div>
          </div>
    <% end %>  
    <% end %>
  <% end %>
</div>
<br><br>
<%= link_to 'New Product', new_product_path ,class:"btn btn-success" %>
</div>


