<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Image:</strong>
  <% if @product.image.attached? %>
    <%= image_tag @product.image %>
   <% end %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Quantity in stock:</strong>
  <%= @product.quantity_in_stock %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.product_category %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @product.product_brand %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @product.product_seller %>
</p>

<p>
  <strong>Coupon:</strong>
  <%= @product.product_coupon %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
