<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
 

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <div class="container">
  <a class="navbar-brand" href="#">Tele Shop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", products_path %>
      </li>
      <li class="nav-item">
       <%= link_to "Orders" %>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item">
       <%= link_to "Cart" %>
      </li>
     
      
    </ul>
    
    <ul id="last">
    
      <li>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
      </li>
    <% else %>
      <li>
        <%= link_to('Login', new_user_session_path)  %>  
      </li>
      |
      <li>
        <%= link_to('Register', new_user_registration_path)  %>
      </li>
    <% end %>
    </ul>
  </div>
  </div>
</nav>
  <div id="main-content" class="row full-min-height"> 
    <%= yield %>
  </div>
 

     <footer class="row">
    <div class="container">
      <hr> <p> copy right reserved &copy TeleShop Store 2019</p>
    </div>
  </footer>
  </body>
</html>
