<p id="notice"><%= notice %></p>

<h1>Shopping Produts</h1>

<table>
  <thead>
    <tr>
      <th>Shopping cart</th>
      <th>Product</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shopping_produts.each do |shopping_produt| %>
      <tr>
        <td><%= shopping_produt.shopping_cart %></td>
        <td><%= shopping_produt.product %></td>
        <td><%= shopping_produt.quantity %></td>
        <td><%= link_to 'Show', shopping_produt %></td>
        <td><%= link_to 'Edit', edit_shopping_produt_path(shopping_produt) %></td>
        <td><%= link_to 'Destroy', shopping_produt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shopping Produt', new_shopping_produt_path %>
