<p id="notice"><%= notice %></p>



<p>
  <strong>Product:</strong>
  <%= @shopping_produt.product.title %>
</p>
<p>
  <strong>Product:</strong>
  <%= @shopping_produt.product.ptice %>
</p>
<p>
  <strong>Product:</strong>
  <%= @shopping_produt.product.image %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @shopping_produt.quantity %>
</p>

<%= link_to 'Edit', edit_shopping_produt_path(@shopping_produt) %> |
<%= link_to 'Back', shopping_produts_path %>
